<tr>
    <td align="center" valign="top">
        <table border="0" cellpadding="10" cellspacing="0" width="500" height="50" border-top: 0;">
            <tbody>
                <tr>
                    <td valign="top" class="footerContent" style="color: #505050;font-family: Arial;font-size: 12px;line-height: 125%;text-align: left;">
                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <small>
                                            <br>Heydar Aliyev International Airport, AZ1044, Baku, Azerbaijan
                                            <br>Phone: +994 (12) 437-47-97, ext: 6108
                                            <br>E-mail: <a href="mailto:TCD@swt.az "> TCD@swt.az </a>  Web:  <a href="www.swt.az"> www.swt.az </a>
                                            
                                        </small>
                                    </td>
                                    <td valign="middle" width="190" id="monkeyRewards">

                                        <div mc:edit="monkeyrewards">
                                            <img style="width:200px;height:200px; border:none" src="EXAM.png" />
                                        </div>
                                    </td>
                                    <!--<td>
                                        <img src="../Logo/logo_az.png">
                                    </td>-->
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>